{% extends "base.html" %}

{% block content %}
    <h1>Author</h1>
    <h2>Real name: {{ author.first_name }} {{ author.last_name }}</h2>
    {% if author.pseudonym %}
        <h2>Pseudonym: {{ author.pseudonym }}</h2>
    {% else %}
        <h2> Pseudonym: Unknown</h2>
    {% endif %}
    <h2>Country: {{ author.country.name }}</h2>
    {% if author.date_of_death %}
        <h2>Date: {{ author.date_of_birth }} - {{ author.date_of_death }}</h2>
    {% elif not author.date_of_birth %}
        <h2>Unknown</h2>
    {% else %}
        <h2>Date: {{ author.date_of_birth }} - Until now</h2>
    {% endif %}
{% endblock %}
